[Unit]
Description=Uvicorn instance to serve main:app
Documentation=https://docs.docker.com
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/uvicorn main:app --reload
ExecReload=/bin/kill -s HUP
WorkingDirectory=/opt/chuliu-T.github.io/backend
User=root
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=backend_python

[Install]
WantedBy=multi-user.target